//radius 
$main-radius: 25px;
$sec-radius: 10px;
$ter-radius: 5px;

//gap
$gap1: 139px;
$gap2: 113px;
$gap3: 76px;
$gap4: 50px;
$gap5: 30px;
$gap6: 20px;
$gap7: 10px;


//font_size
$f1-font-size: 48px;
$f2-font-size: 36px;
$f3-font-size: 24px;
$f4-font-size: 18px;
$f5-font-size: 14px;
$f6-font-size: 13px;
$f7-font-size: 12px;
$f8-font-size: 10px;

$f-size-error-mobile: 96px;
$f-size-error-desktop: 288px;


//font-family

$font-family: "Montserrat", sans-serif;

//font-weight

$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;


//colors 
$color-primary: #ff6060;
$color-secondary: white;
$color-tertiary: black;
$background-dark: rgba(0, 0, 0, 0.5);
$background-light: #f6f6f6;