	header {
		//margin: 20px auto;
		margin: 25px auto;
		padding: 0 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1240px;
		width: 100%;

		nav {
			ul {
				//display: flex;
				font-size: $f7-font-size;
				text-transform: uppercase;

				@media screen and (min-width: 370px) {

					display: flex;
				}

				@media screen and (min-width: 1024px) {
					text-transform: none;

				}

				li {
					margin: 5px 0 0 15px;

					a {
						&.active {
							text-decoration: underline;
						}
					}

					@media screen and (min-width: 370px) {
						margin: 0 0 0 15px;
					}

					@media screen and (min-width: 1024px) {
						margin-left: 50px;
						font-size: $f3-font-size;
						font-weight: $medium-font-weight;
					}


				}


			}

		}

		.header-logo {
			width: 145px;
			height: 45px;

			@media screen and (min-width: 1024px) {
				width: 210px;
				height: 68px;
			}

		}

		@media screen and (min-width: 1024px) {
			padding: 0 15px;
			margin: 50px auto;

		}

	}